<div class="section" id="education">
    <div class="container cc-education">
      <div class="h3 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Saveetha Engineering College
               </h4>
               <ul>
                <li> Saveetha Engineering College is considered one of the top engineering universities in Tamil Nadu and is Anna University Affiliated </li>
                    <li>Completed B.E in Computer Engineering with <b>8 CGPA</b>.</li>
                 <li>Maintained above <b>7.8 GPA</b> in every semester of college academic .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2014</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Amalorpavam Hr.Sec School
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of Computer Science, Mathematics, and Science
                                  </li>
                                  <li>
                                     There was also a good base on Physics, Mathematics, Computer Science and Chemistry.
                                  </li>
                                  <li>
                                      Completed my high school with<b> 91.3%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2012</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">St.Joseph's Hr.Sec School
               </h4>
               <ul>
                <li>The Secondary aims at Maths, Science, Social Science, Tamil and English.
                </li>
               
                <li>
                    Completed my Secondary school with <b>90%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>